<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.py.ps.androidlesson1">

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SecondActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".GoogleVoiceActivity" />

        <service
            android:name=".MyService"
            android:exported="false" />

        <receiver
            android:name=".MyReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.py.ps.androidlesson1.CUSTOM_INTENT" />
            </intent-filter>
        </receiver>

        <provider
            android:name=".MyContentProvider"
            android:authorities="com.py.ps.androidlession1.MyContentProvider"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".ListActivityExample"
            android:label="@string/title_activity_main2"
            android:parentActivityName="android.app.ListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.app.ListActivity" />
        </activity>
        <activity
            android:name=".PressAndPlay"
            android:label="@string/title_activity_press_and_play"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>